@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

body {
  background-color: #141414;
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todoheader {
  color: #e8e8e8;
  @apply text-[4rem] font-bold text-center;
}

.app {
  height: 66.6vh;
  width: 70rem;
}
